# Basic
!.gitignore
!README.md
!.vscode/
.vscode/*
!.vscode/c_cpp_properties.json
*.log
*.ex4
*.ex5
*.dat

# Include
!Include/*/**
Include/*.mqh
Include/Arrays
Include/Canvas
Include/ChartObjects
Include/Charts
Include/Controls
Include/Expert
Include/Files
Include/Generic
Include/Graphics
Include/Indicators
Include/Math
Include/OpenCL
Include/Strings
Include/Tools
Include/Trade
Include/WinApi

# Scripts
!Scripts/
Scripts/Examples
Scripts/UnitTests

# Images
Images/*.bmp


# Other
Experts
Libraries
Profiles
Files
Services
Shared Projects
Logs
