# Basic
!.gitignore
!README.md
!.vscode/
.vscode/*
!.vscode/c_cpp_properties.json
*.log
*.ex4
*.ex5

# Include
Include
!Include/tradeql/

# Scripts
!Scripts/
Scripts/Examples
Scripts/UnitTests

# Images
Images/*.bmp


# Other
Experts
Libraries
Profiles
Files
Services
Shared Projects
Logs
